<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MM_CONNECTION_HANDLER_Conn" value="default_oledb.htm"/>
    <!--<add key="MM_CONNECTION_STRING_Conn" value="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dbSiges;Data Source=OWNEROR-V41T290" />-->
    <!--<add key="MM_CONNECTION_STRING_Conn" value="Provider=SQLOLEDB.1;Password=MsSql.s3rv3r;Persist Security Info=True;User ID=sa;Initial Catalog=dbSiges;Data Source=."/>-->
	<!--<add key="MM_CONNECTION_STRING_Conn" value="Provider=SQLOLEDB.1;Server=REDES_PC_26\SQLEXPRESS;Database=dbSiges;Integrated Security=SSPI;"/>-->
	<add key="MM_CONNECTION_STRING_Conn" value="Provider=SQLOLEDB.1;Server=CLAUDIO\SQLEXPRESS;Database=dbSiges;User ID=sa;Password=123456;"/>

	  <add key="NAME_SYSTEM" value="siGES"/>

  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>