<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<appSettings>
    <add key="MM_CONNECTION_HANDLER_Conn" value="default_oledb.htm" />
 
    <add key="MM_CONNECTION_STRING_Conn" value="Provider=SQLOLEDB.1;Password=Doom5452@@;Persist Security Info=True;User ID=04690_usuario;Initial Catalog=04690_db;Data Source=SQL2008.dbsqlserver.com,8888" />

  </appSettings>


	<system.web>
  <customErrors mode="Off" />
  <compilation defaultLanguage="c#" />
 </system.web>
	<system.webServer>	
        <httpErrors>
            <remove statusCode="503" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="400" path="C:\Websites\siges.ec\error_docs\bad_request.html" />
            <error statusCode="407" path="C:\Websites\siges.ec\error_docs\proxy_authentication_required.html" />
            <error statusCode="414" path="C:\Websites\siges.ec\error_docs\request-uri_too_long.html" />
            <error statusCode="415" path="C:\Websites\siges.ec\error_docs\unsupported_media_type.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="C:\Websites\siges.ec\error_docs\bad_gateway.html" />
            <error statusCode="503" path="C:\Websites\siges.ec\error_docs\maintenance.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
